<?xml version="1.0"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios Web para configurar los valores de la aplicación. Utilice
    la opción Sitio Web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="Main.ConnectionString" value="data source=10.130.37.40;initial catalog=TrackingPost20;UID=sa;PWD=2NC]&gt;=f.N^"/>
    <add key="Main.ConnectionStringIP2" value="data source=10.130.37.40;initial catalog=EXIMAGEN_NUEVAB;UID=sa;PWD=2NC]&gt;=f.N^"/>
    <add key="Pass" value="H9SC4qwWNfcywHwvX300xq5kXAwkOno0"/>
  </appSettings>
  <connectionStrings>
      <add name="TrackingPost20ConnectionString" connectionString="Data Source=10.130.37.40;Initial Catalog=TrackingPost20;Persist Security Info=True;User ID=sa;Password=2NC]&gt;=f.N^"
          providerName="System.Data.SqlClient" />
      <add name="TrackingPost20ConnectionString1" connectionString="Data Source=10.130.37.40;Initial Catalog=TrackingPost20;Persist Security Info=True;User ID=sa;Password=2NC]&gt;=f.N^"
          providerName="System.Data.SqlClient" />
      <add name="TrackingPost20ConnectionString2" connectionString="Data Source=10.130.37.40;Initial Catalog=TrackingPost20;Persist Security Info=True;User ID=sa;Password=2NC]&gt;=f.N^"
          providerName="System.Data.SqlClient" />
      <add name="TrackingPost20ConnectionString3" connectionString="Data Source=10.130.37.40;Initial Catalog=TrackingPost20;Persist Security Info=True;User ID=sa;Password=2NC]&gt;=f.N^"
          providerName="System.Data.SqlClient" />
      <add name="EXIMAGEN_NUEVABConnectionString" connectionString="Data Source=10.130.37.40;Initial Catalog=TrackingPost20;Persist Security Info=True;User ID=sa;Password=2NC]&gt;=f.N^"
          providerName="System.Data.SqlClient" />
      <add name="EXIMAGEN_NUEVAB_PRUEBASConnectionString" connectionString="Data Source=10.130.37.40;Initial Catalog=EXIMAGEN_NUEVAB_PRUEBAS;Persist Security Info=True;User ID=sa;Password=2NC]&gt;=f.N^"
          providerName="System.Data.SqlClient" />
      <add name="EXIMAGEN_NUEVABConnectionString1" connectionString="Data Source=10.130.37.40;Initial Catalog=EXIMAGEN_NUEVAB;Persist Security Info=True;User ID=sa;Password=2NC]&gt;=f.N^"
          providerName="System.Data.SqlClient" />
      <add name="EXIMAGEN_NUEVABConnectionString2" connectionString="Data Source=10.130.37.40;Initial Catalog=EXIMAGEN_NUEVAB;Persist Security Info=True;User ID=sa;Password=&quot;2NC]&gt;=f.N^&quot;"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--<add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--<add assembly="CrystalDecisions.CrystalReports.Design, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Windows.Forms, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Enterprise.Viewing.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>-->
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Windows"/>
    <!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="">
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://200.77.239.181/Xmlkn/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="ServiceReferenceXMLKN.ServiceSoap" name="ServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>